<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" tools:targetApi="31">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SetupProfileActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.DashboardActivity" />

        <activity android:name=".activities.AddCaseActivity" />
        <activity android:name=".activities.EditCaseActivity" />
        <activity android:name=".activities.CasesActivity" />

        <activity android:name=".activities.AddClientActivity" />
        <activity android:name=".activities.AddRealClientActivity" />
        <activity android:name=".activities.AddLegalClientActivity" />
        <activity android:name=".activities.ClientsActivity" />
        <activity android:name=".activities.EditRealClientActivity" /> <!-- New Activity -->
        <activity android:name=".activities.EditLegalClientActivity" /> <!-- New Activity -->


        <activity android:name=".activities.AddMeetingActivity" />
        <activity android:name=".activities.EditMeetingActivity" />
        <activity android:name=".activities.MeetingsActivity" />

        <activity android:name=".activities.AddCourtSessionActivity" />
        <activity android:name=".activities.EditCourtSessionActivity" />
        <activity android:name=".activities.SessionsActivity" />

        <activity android:name=".activities.OfficeManagementActivity" />
        <activity android:name=".activities.AddDailyTaskActivity" />

        <activity android:name=".activities.DocumentsActivity" />
        <activity android:name=".activities.CaseDocumentsActivity" />

        <activity android:name=".activities.MyProfileActivity" />
        <activity android:name=".activities.UsefulLinksActivity" />
        <activity android:name=".activities.SettingsActivity" />

        <receiver
            android:name=".receivers.SessionReminderReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.lawyer_archives.ACTION_SESSION_REMINDER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
